<ul>
  {{#each lobbies}}
  <li id="{{this.name}}" class="lobby-{{this.statusLabel}}"><!--<div class="lobby-cost">{{this.cost}}</div><div class="lobby-action">{{#if this.status }}disconnect{{else}}join{{/if}}</div>--></li>
  {{/each}}
</ul>

<!--<pre>
  {{#each lobbies}}
  *{{this.name}}: {{this.cost}} rubies{{/each}}
</pre>-->
