<h1>LOBBIES</h1>
<ul class="people_list">
  {{#each lobbies}}
  <li><button id="{{this.name}}" {{#if this.disabled }} disabled{{/if}}>{{#if this.connected }}disconnect from{{else}}join{{/if}} {{this.name}}</button></li>
  {{/each}}
</ul>

<pre>
  {{#each lobbies}}
  *{{this.name}}: {{this.cost}} rubies{{/each}}
</pre>
